package ${PACKAGE_NAME};

import com.chinasofti.ro.bizframework.core.data.validation.IValidator;
import com.chinasofti.ro.bizframework.core.orm.entity.Model;
#if(${PO_IS_COMPOSITE_PK})
import com.chinasofti.ro.bizframework.core.data.bind.CompositeKeyUtil;
#end

#foreach( $type in $CLASS_IMPORT_TYPES)
import $type;
#end

/**
 * <p>model</p>
 * 
 * @author BizFoundation
 * @version 5.0
 * @since 1.0
 */
public class ${CLASS_FIRST_UPPER_NAME} extends Model implements IValidator {
	// Fields    
	#set($count=0)#foreach( $fieldName in $PO_FIELD_NAMES )
private $PO_FIELD_ROBASE_SIMPLE_TYPES.get($count) $fieldName; 
	#set($count=$count+1)#end
	
	//default constructor
    public ${CLASS_FIRST_UPPER_NAME}() {
    	super();
    }
    
    // Property accessors
#set($index=0)#foreach( $fieldName in $PO_FIELD_NAMES )
public $PO_FIELD_ROBASE_SIMPLE_TYPES.get($index) get$PO_FIELD_FIRST_UPPER_NAMES.get($index)() {
        return this.$fieldName;
    }
    
    public void set$PO_FIELD_FIRST_UPPER_NAMES.get($index)($PO_FIELD_ROBASE_SIMPLE_TYPES.get($index) $PO_FIELD_NAMES.get($index)) {
    	#if($fieldName != $PO_PK_FIRST_LOWER_NAME && $PO_FIELD_IS_PERSISTS.get($index) == true)this.firePropertyChange("$fieldName", this.$fieldName, $fieldName);
    	#end
this.$fieldName = $fieldName;
    }
    
    #set($index=$index+1)#end
    
    #if(${PO_IS_COMPOSITE_PK})
    public String getCompositeKeyStr() throws Exception{
    	return CompositeKeyUtil.getCompositeKey(get$PO_FIELD_FIRST_UPPER_NAMES.get(0)());
    }
    #end
    
   	public boolean validate(Object arg0) {
		//${PO_FIRST_UPPER_NAME} ${PO_FIRST_LOWER_NAME} = (${PO_FIRST_UPPER_NAME})arg0;
		//Validation.required("${PO_FIRST_LOWER_NAME}.${PO_PK}",${PO_FIRST_LOWER_NAME}.get${ID}());
		return true;
	}
}