#set($entityClass = ${javaInfo.getEntityName(false)})
#set($entityVar = ${javaInfo.getEntityName(true)})
#set($module = "${javaInfo.getModule()}")
<!--${entityVar}-CONTROLLER-START-->
	<controller name="${javaInfo.basePackageName}.${javaInfo.module}.controller.${entityClass}Controller">
		<method name="list" uri="/${entityVar}">
			<result name="success">${module}/${entityVar}/${entityVar}List</result>
		</method>
		<method name="list${entityClass}" uri="/${entityVar}/list${entityClass}"/>

		<method name="add" uri="/${entityVar}/add">
			<result name="success">${module}/${entityVar}/${entityVar}New</result>
		</method>
		<method name="save" uri="/${entityVar}/save">
			<result name="success" type="redirect">@list</result>
			<result name="failed">${module}/${entityVar}/${entityVar}New</result>
		</method>
				
		<method name="edit" uri="/${entityVar}/edit/{id}">
			<result name="success">${module}/${entityVar}/${entityVar}Edit</result>
		</method>
		<method name="update" uri="/${entityVar}/update">
			<result name="success" type="redirect">@list</result>
		</method>
		
		<method name="show" uri="/${entityVar}/show">
			<result name="success">${module}/${entityVar}/${entityVar}Show</result>
		</method>
		
		<method name="delete" uri="/${entityVar}/delete/{ids}">
			<result name="success" type="redirect">@list</result>
		</method>
	</controller>
    <!--${entityVar}-CONTROLLER-END-->