package $javaInfo.packageName;

import com.chinasofti.ro.bizframework.core.orm.entity.SqlModel;

/**
 * <p>VModel</p>
 * 
 * @author BizFoundation
 * @version 5.0
 * @since 1.0
 */
public class $javaInfo.className extends SqlModel {

}